# Default ignored files
/shelf/
.idea/workspace.xml
venv/
.idea/
/mvts_fss_scs/data/
mvts_fss_scs/preprocessed_data/
mvts_fss_scs/sampled_data/

/Lib/
/dtaidistance/
/include/
/mvts_fss_scs/__pycache__/

/mvts_fss_scs/*
/mvts_fss_scs/__pycache__/
/mvts_fss_scs/fss/__pycache__/
/mvts_fss_scs/preprocessing/__pycache__/
/mvts_fss_scs/preprocessing/Sampling/__pycache__/
/mvts_fss_scs/evaluation/__pycache__/
/mvts_fss_scs/fss/clever/__pycache__/
/mvts_fss_scs/fss/corona/__pycache__/
/mvts_fss_scs/fss/csfs/__pycache__/
/mvts_fss_scs/fss/fcbf/__pycache__/
/mvts_fss_scs/fss/mrmr_relief/__pycache__/
/mvts_fss_scs/fss/pie/__pycache__/
/mvts_fss_scs/fss/rfe/__pycache__/
/Scripts/
logger_file.log
mysettings.py
pyvenv.cfg
/.vscode/
/__pycache__/
build/lib.win-amd64-3.8/Evaluation Pipeline.cp38-win_amd64.pyd
/mvts_fss_scs/decorators.py
/mvts_fss_scs/evaluation/univariate/
/mvts_fss_scs/evaluation/univariate.py
/mvts_fss_scs/Results/Aggregated Results/
mvts_fss_scs/evaluation/trial.py
.gitignore
Results/Aggregated Results/Python Plots.ipynb
Results/Aggregated Results/linear_heatmap.pdf
Results/Aggregated Results/linear_multi_heatmap.svg
Results/Aggregated Results/linear_heatmap.svg
Results/Aggregated Results/linear_vect_heatmap.svg
Results/Aggregated Results/rbf.pdf
ICDM21_HDM_FeatureRanking.pdf
